DB_NAME=cryptobot

DB_ROOT_USER=xxxxxx
DB_ROOT_PASSWORD=xxxxxx
DB_ROOT_EMAIL=xxxxxx

DB_BOT_USER=xxxxxx
DB_BOT_PASSWORD=xxxxxx

#MONGO
MONGO_DB_PORT=27017

#POSTGRESQL
PG_DB_PORT=5432

# BINANCE API
BINANCE_API_KEY=xxxxxx
BINANCE_API_SECRET=xxxxxx

# SCRAPER
SCRAPER_INDEX_LIMIT=2 # Nb de pages traitées
SCRAPER_ENRICH_LIMIT=50 # Nb d'articles enrichis
SCRAPER_DETECT_LIMIT=1000 # Nb d'articles dans lesquels détecter les cryptos