DB_NAME=cryptobot

DB_ROOT_USER=xxxxxx
DB_ROOT_PASSWORD=xxxxxx
DB_ROOT_EMAIL=xxxxxx

DB_BOT_USER=xxxxxx
DB_BOT_PASSWORD=xxxxxx

#MONGO
MONGO_DB_PORT=27017

#POSTGRESQL
PG_DB_PORT=5432

# BINANCE API
BINANCE_API_KEY=xxxxxx
BINANCE_API_SECRET=xxxxxx