DB_NAME=cryptobot

DB_ROOT_USER=xxxxxx
DB_ROOT_PASSWORD=xxxxxx
DB_ROOT_EMAIL=xxxxxx

DB_BOT_USER=xxxxxx
DB_BOT_PASSWORD=xxxxxx

#MONGO
MONGO_DB_PORT=27017

#POSTGRESQL
PG_DB_PORT=5432

# BINANCE API
BINANCE_API_KEY=xxxxxx
BINANCE_API_SECRET=xxxxxx

# SCRAPER
SCRAPER_INDEX_LIMIT=2 # Nb de pages traitées
SCRAPER_ENRICH_LIMIT=50 # Nb d'articles enrichis
SCRAPER_DETECT_LIMIT=1000 # Nb d'articles dans lesquels détecter les cryptos

SCRAPER_FEATURE_SENTIMENT_LIMIT=100 # Nb d'articles à traiter lors de l'analyse de sentiment

# API
API_PORT=8000
API_DOCKER_MONITORING_PORT=8010

# GRAFANA
GRAFANA_PORT=3000
GF_SECURITY_ADMIN_PASSWORD=xxxxxxx # définition du mot de passe de l'utilisateur "admin"

# CONFIGURATION DOCKER
DOCKER_REGISTRY="" # Indiquer ici le pseudo dockerhub ex: batman/ pour le mode prod et local/ pour le mode dev
BUILD_CONTEXT_DEV="" # Laisser vide pour le mode prod et mettre . pour le mode dev

# NOM DES IMAGES A INDIQUER
# ELLES CORRESPONDENT A L'IMAGE PYTHON DE BASE UTILISEE DANS PLUSIEURS CONTENEURS
# ICI CE SONT LES VALEURS DE DEV.
# A REMPLACE PAR "cryptobot-python-base:latest" POUR LE MODE PROD
IMG_MONGO_INIT="cryptobot-mongo-init:latest"
IMG_POSTGRES_INIT="cryptobot-postgres-init:latest"
IMG_API="cryptobot-data-api:latest"
IMG_COLLECTOR="cryptobot-data-collector:latest"
IMG_TRANSFORMER="cryptobot-data-transformer:latest"
IMG_HISTORIC="cryptobot-historic:latest"
IMG_COMPUTE_LABELS="cryptobot-compute-labels:latest"
IMG_COMPUTE_FEATURES="cryptobot-compute-features:latest"
IMG_MODELS_PREDICT="cryptobot-models-predict:latest"
IMG_MODELS_PREDICT_SENTIMENT="cryptobot-models-predict-sentiment:latest"
IMG_API_DOCKER_MONITORING="cryptobot-docker-monitoring:latest"

# SCRAPER IMAGES
IMG_SCRAPER="cryptobot-scraper:latest"
IMG_SCRAPER_SENTIMENT="cryptobot-sentiment:latest"

# AIRFLOW CONFIGURATION
AIRFLOW_UID=50000 # UID utilisateur machine, laisser 50000 ou remplacer par son propre id, récupérable avec la commande id -u 
AIRFLOW_ADMIN_USER=xxxxxx
AIRFLOW_DB_USER=xxxxxx
AIRFLOW_DB_PASSWORD=xxxxxx
AIRFLOW_DB_NAME=airflow
AIRFLOW__API_AUTH__JWT_SECRET=xxxxxx # A obtenir par exemple avec la commande: openssl rand -hex 64

AIRFLOW_DOCKER_URL=unix://var/run/docker.sock
AIRFLOW_PROJECT_ENV_FILE=/opt/airflow/project.env

DOCKER_NETWORK=sep25_cde_opa2_default
DOCKER_GID=1001 # Groupe du socket docker obtenu avec stat -c '%g' /var/run/docker.sock

# Paramètres du modèle à entraîner et utiliser pour les prédictions
# Attention les labels correspondants doivent exister dans la base de données, sinon le modèle ne pourra pas être entraîné
MODEL_SYMBOL=BTCUSDT
MODEL_INTERVAL=1m
MODEL_HORIZON=30
MODEL_THRESHOLD=0.003
MODEL_N_CANDLES=1000