dnspython==2.8.0
psycopg==3.3.2
psycopg-binary==3.3.2
pymongo==4.16.0
python-dotenv==1.2.1
python-binance==1.0.19
pandas==2.1.4
numpy==1.24.4
streamlit==1.31.0
streamlit-autorefresh==1.0.1
plotly==5.24.1
packaging==23.2
